$borderWidth: 5px;

.widgetsContainer {
  border-width: $borderWidth;
  position: relative;
  min-height: 200px;
  display: flex;
  border-style: solid;
  border-color: #f0f2f7;
  padding: 10px;
  flex: 1;
}

.actions {
  position: absolute !important;
  top: 0;
  right: 0;
  opacity: 0.8;
  z-index: 10;
}

.dragOver {
  border-style: dashed !important;
  border-color: #b5f5ec !important;
}
