.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colItem {
  display: flex;
  align-items: center;
  background-color: #f0f5ff;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 2px 10px 10px;
}

.colForm {
  flex: 1;
}

.formItem {
  margin-bottom: 8px;

  label{
    line-height: 24px;
  }
}
