.compList {
  padding: 12px;
  width: 320px;
  border-right: 1px dashed #ccc;
}

.secTitle{
  margin: 10px 0 10px;
}

.secBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.compItem {
  width: 142px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
