$borderWidth: 3px;

.widgetWrapper {
  border-width: $borderWidth;
  border-style: dashed;
  border-color: transparent;
  max-width: 100%;
}

.hover {
  cursor: pointer;
  border-style: dashed !important;
  border-color: #69c0ff !important;
}

.beingConfig {
  border-style: dashed !important;
  border-color: #ff85c0 !important;
}

.actions {
  position: absolute !important;
  top: 0;
  right: 0;
  opacity: 0.8;
  z-index: 10;
}
