.resizer {
  position: absolute;
  right: 320px;
  top: 0;
  bottom: 0;
  width: 4px;
  border-left: 1px solid #d6e4ff;
  border-right: 1px solid #d6e4ff;
  cursor: e-resize;
  z-index: 10;

  transition: opacity 5s;
}

.active {
  background-color: #d6e4ff;
}
