$topBarHeight: 44px;

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $topBarHeight;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  line-height: $topBarHeight;
  font-size: 20px;

  :global {
    .anticon {
      margin-right: 8px;
    }
  }
}

.draftActions {
}

.activeDevice {
  color: #1890ff !important;
}

.rightActions {
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
