.settingDrawer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #f0f2f7;
  transition: all 0.5s;
}

.visible {
  width: 400px;
}

.hidden {
  .content {
    display: none;
  }

  width: 0;
}

.content {
  padding: 36px 8px 12px;
}

.closeBtn {
  position: absolute !important;
  top: 0;
  right: 0;
  color: #444;
}
