.settingDrawer {
  position: relative;
  overflow: hidden;
  background-color: #eee;
  // border-left: 1px solid #eee;
  transition: all 0.5s;
}

.visible {
  width: 320px;
}

.hidden {
  .content {
    display: none;
  }

  width: 0;
}

.content {
  padding: 36px 8px 12px;
}

.closeBtn {
  position: absolute !important;
  top: 0;
  right: 0;
  color: #444;
}
