.droppable {
  // background-color: rgba(149, 222, 100, 0.2);
  // background-color: #f0f2f7;
  flex: 1;
  position: relative;
}

// .dragOver {
//   border: 2px solid #b7eb8f;
// }

.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(#d9f7be, 0.5);
}
