.widgetList {

}

.secTitle {
  margin: 10px 0 10px;
}

.secBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widgetItem {
  width: 142px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #ccc;
}
