.widgetList {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 12px;
  width: 320px;
  background-color: #fafafa;
}

.secTitle {
  margin: 10px 0 10px;
}

.secBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widgetItem {
  width: 142px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #ccc;
}
