$borderWidth: 5px;

.widgetsContainer {
  position: relative;
  min-height: 200px;
  display: flex;
  // border: 6px solid rgba(24, 144, 255, 0.3);
  border: $borderWidth solid #f0f2f7;
  margin: 10px;

  &:hover {
    cursor: pointer;
    border: $borderWidth dashed #f0f2f7;
  }
}

.actions {
  position: absolute !important;
  top: 0;
  right: 0;
  opacity: 0.8;
  z-index: 10;
}

.dragOver {
  border: $borderWidth dashed #b5f5ec;
}
