.widgetsContainer {
  position: relative;
  min-height: 200px;
  display: flex;
  border: 6px solid rgba(24, 144, 255, 0.3);
  margin: 10px;

  &:hover {
    cursor: pointer;
  }
}

.settingBtn {
  position: absolute !important;
  top: 0;
  right: 0;
  opacity: 0.8;
  z-index: 10;
}
