$borderWidth: 5px;

.widgetsContainer {
  position: relative;
  min-height: 200px;
  display: flex;
  border: $borderWidth solid #f0f2f7 !important;
  padding: 10px;
  flex: 1;
}

.hover {
  cursor: pointer;
  border: $borderWidth dashed #91d5ff !important;
}

.actions {
  position: absolute !important;
  top: 0;
  right: 0;
  opacity: 0.8;
  z-index: 10;
}

.dragOver {
  border: $borderWidth dashed #b5f5ec !important;
}
