$actionHeight: 38px;

.draftContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 320px;
  right: 0;
  transition: all 0.5s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $actionHeight;
}

.draft {
  flex: 1;
  overflow: auto;
}

.showSettingDrawer {
  right: 320px !important;
}

.header {
  min-height: 120px;
}

.draftActions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $actionHeight;
  display: flex;
  justify-content: center;
  align-items: center;
}
