.draft {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 26px;
  left: 320px;
  right: 0;
  transition: all 0.5s;
  overflow: auto;
}

.showSettingDrawer {
  right: 400px !important;
}

.header {
  min-height: 120px;
}
