$topBarHeight: 44px;

.draftContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  transition: all 0.5s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $topBarHeight;

  &.showSettingDrawer {
    right: 320px;
  }

  &.showAssetDrawer {
    left: 320px !important;
  }
}

.draft {
  flex: 1;
  overflow: auto;
  transition: all 0.5s;
}

.header {
  min-height: 120px;
}

.emptyHint {
  font-size: 22px;
  color: #666;
}
