.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  background-color: #f0f5ff;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 2px 10px 10px;
}

.itemForm {
  flex: 1;
}

.formItem {
  margin-bottom: 8px;

  label {
    line-height: 24px;
  }
}

.expanded {
  max-height: auto;
}

.folded {
  max-height: 30px;
}

.removeBtn {
  flex-shrink: 0;
}

.colIndex {
  text-align: center;
  padding-left: 16px;
  margin: 0;
}
